# T3a

In [ ]:
import json, sqlite3

## Misión 1

In [ ]:
with open('movies.json', encoding = 'utf8') as movies_file:
    movies = json.load(movies_file)

In [1]:
connection = sqlite3.connect('movies.db') 
cursor = connection.cursor()                    
  
cursor.execute("CREATE TABLE Movies(mid INT, title TEXT, year INT, PRIMARY KEY(mid))")
cursor.execute("CREATE TABLE Actors(aid INT, name TEXT, PRIMARY KEY (aid))")
cursor.execute("CREATE TABLE Genres(gid INT, genre TEXT, PRIMARY KEY (gid))")
cursor.execute("CREATE TABLE ActorsMovies(actor_id INT, movie_id INT, FOREIGN KEY (actor_id) REFERENCES Actors, FOREIGN KEY (movie_id) REFERENCES Movies)")
cursor.execute("CREATE TABLE GenresMovies(genre_id INT, movie_id INT, FOREIGN KEY (genre_id) REFERENCES Genres, FOREIGN KEY (movie_id) REFERENCES Movies)")

connection.commit()
connection.close()

NameError: ignored

## Misión 2

In [ ]:
connection = sqlite3.connect('movies.db') 
cursor = connection.cursor()

mid = 0
aid = 0
gid = 0
genres = {}
actors = {}

for movie in movies:
    
    title = movie["title"]
    year = movie["year"]
    
    cursor.execute("INSERT INTO Movies VALUES (?,?,?)", (mid, title, year))
    
    for genre in movie["genres"]:
        if genre not in genres:
            genres[genre] = gid
            cursor.execute("INSERT INTO Genres VALUES (?,?)", (gid, genre))
            gid += 1
        cursor.execute("INSERT INTO GenresMovies VALUES (?,?)", (gid, mid))
    
    for actor in movie["cast"]:
        if actor not in actors:
            actors[actor] = aid
            cursor.execute("INSERT INTO Actors VALUES (?,?)", (aid, actor))
            aid += 1
        cursor.execute("INSERT INTO ActorsMovies VALUES (?,?)", (actors[actor], mid))

    mid += 1

connection.commit()
connection.close()